body {
    text-align: center;
     background-color: black;
     font-family: 'Exo 2', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

#intro{
    background-color: rgb(182, 220, 238);
}

#origami1{
    background:linear-gradient(lightcoral 0%,#f0967f 100%, #f0ac7f 0%);
}

#origami2{
    background:linear-gradient(#f0ac7f 0%,#f0967f 100%, lightcoral 0%);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}